/* referring source: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */

body {
    background-color: #F9F9F9;
}

.topnav a:nth-child(2), .topnav a:nth-child(5), .topnav a:nth-child(1), .topnav a:nth-child(4) {display: none;}

h1 {
    font-size: 24px;
    line-height: 1.5;
    transition: 0.5s ease-in-out;
}
h1:hover {
    background-color: rgba(73, 71, 71, 0.733);
    color: white;
    transition: 0.5s ease-in-out;
    padding: 10px;
}

.resume {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.query0 {
    padding: 5%;
    flex-basis: 500px;
}
.text-block:hover {
    background-color: rgba(223, 223, 223, 0.856);}

.date {
    font-size: 90%;
}

.related-courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    padding: 20px 0;
    transition: 1s ease-in-out;
}

.related-courses li {
    margin-left: 20px;
    line-height: 1.5;
}

.query1, .skill-list li {
    transition: 0.3s;
}
.query1:hover, .skill-list li:hover {
    background-color: rgba(191, 207, 216, 0.664);
    transition: 0.2s ease-in-out;
    padding: 2px;
}

div.title {
    font-weight: bold;
}
.date {
    text-align: right;
}

.detail {
    margin-left: 15px;
    line-height: 1.5;
}

.intern > .title {
    padding-bottom: 15px;
}

.project > p{
    text-align: left;
    line-height: 1.5;
}

li {
    list-style-type: none;
    margin: 2px;
}

.skill-list > ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 3%;
}

.skill-list ul li {
    background-color: rgba(243, 243, 239, 0.918);
    border: 2px solid ivory;
    border-radius: 4px;
    padding: 0 5px;
}